@keyframes float {
  from {
    transform: translateY(-4px);
  }
  to {
    transform: translateY(4px);
  }
}

@keyframes fade-in {
  from {
    transform: translateY(40%);
    opacity: 0;
  }
  to {
    transform: translateY(0%);
    opacity: 1;
  }
}
